* {
    margin: 0;
    padding: 0;
    
}

body{
    background: url("/images/nature-forest-trees-fog.jpeg")
    no-repeat center center fixed;
    background-size: cover;
     font-family: 'Paytone One', sans-serif;
}


.header {
    background-color: forestgreen;
    color: sandybrown;
    text-align: center;
    font-size:70px;
    border: 5px solid sandybrown;
    height: 440px;
}

#introduction {
    background-color: blue;
    color: lawngreen;
    text-align: center;
    opacity: 0.6;
    border: 5px solid lawngreen;
    font-size: 25px;
    margin-top: 50px
    
        

}

#habitat {
    background-color: red;
    text-align: center;
    opacity: 0.9;
    border: 5px solid black;
    margin-top: 50px;
    font-size: 25px;
    
}


#media {
    text-align: center;
    font-size: 30px;
    color: red;
    
    
}